# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Rasa folders
models/
.rasa/
.rasa/cache/
.rasa/tmp*/

# PyCharm / IntelliJ
.idea/
*.iml

# Logs
*.log

# Training cache
cache/
